@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #213547;

        --primary: #646cff;
        --hover: #747bff;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: #242424;
            --foreground: #ffffffde;

            --primary: #646cff;
            --hover: #535bf2;
        }
    }
}

@layer base {
    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}
